.pageContainer {
  width: 100%;
  user-select: none;
  align-items: center;
}

.form {
  width: 70%;
  background-color: aliceblue;
  margin: 0 auto;
  margin-top: 1.75rem;
  margin-bottom: 1rem;
  align-items: center;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 2.5px 2.5px 10px -1px rgba(0, 0, 0, 0.15),
    -2.5px -2.5px 10px -1px rgba(0, 0, 0, 0.15);
}

.formHeader > h4 {
  font-size: 20px;
  font-weight: 500;
  color: rgb(194, 0, 0);
  margin-top: 0.75rem;
  text-align: center;
}

.form__status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1.1rem;
}

.form__status > h3 {
  font-size: 28px;
  font-weight: 700;
  color: rgb(77, 77, 77);
  margin-right: 0.5rem;
}

.form__status > .formStatus__dropdown {
  margin-left: 0.5rem;
}

.formStatus__dropdownSelect {
  font-size: 13.5px !important;
}

.menu__item {
  font-size: 13.5px !important;
}

.form__content {
  padding: 1rem 1rem 0.5rem;
  width: 100%;
}

.form__inputsRow {
  padding: 0.5rem;
  justify-content: space-evenly;
}

.form__inputsSpecRow {
  padding: 0.5rem;
  align-items: center;
}

.form__inputsSpecRow > .form__input > textarea {
  width: 65%;
  max-width: 64%;
  height: 4rem !important;
  padding: 0.4rem 0 0 0.4rem;
  font-size: 16px;
}

.form__dropdown {
  margin-top: 1rem !important;
}

.form__input {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 6.1rem;
}

.form__input > label {
  margin: 0 0 0.5rem;
}

.form__input > label > strong {
  color: red;
}

.form__input > input {
  width: 75%;
  height: 22px;
  padding: 6px 6px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

.form__input > input:focus {
  background-color: #e7cccc;
  outline-color: #8b4748;
}

.form__content > .submit__btn {
  width: 10rem;
  font-family: "Poppins", sans-serif;
  height: 40px;
  font-size: 16px;
  border: 1px solid rgb(128, 125, 125);
  margin: 2rem auto 0;
  cursor: pointer;
  transition: background 0.1s, color 0.1s;
  letter-spacing: 0.6px;
}

.form__content > .submit__btn:hover {
  background-color: #8b4748;
  color: white;
}

.back__to__home__link {
  color: white;
  font-size: 18px;
  margin-left: 46.75%;
}
