.forgotPassword__page {
  width: 100%;
  user-select: none;
  align-items: center;
}

.forgotPassword__contentContainer {
  background-color: aliceblue;
  margin: 0 auto;
  width: 26%;
  align-items: center;
  margin-top: 5%;
  padding: 1.5rem 1rem;
  margin-bottom: 0.75rem;
  border-radius: 3px;
  box-shadow: 2.5px 2.5px 10px -1px rgba(0, 0, 0, 0.15),
    -2.5px -2.5px 10px -1px rgba(0, 0, 0, 0.15);
}

.forgotPassword__contentContainer > h3 {
  font-size: 26px;
  font-weight: 500;
  color: rgb(194, 0, 0);
  text-align: center;
}

.passwordReset__formInput {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 2.6rem;
  width: 100%;
}

.passwordReset__formInput > label {
  font-size: 14px;
  margin-bottom: 0.5rem;
  margin-left: 3px;
}

.passwordReset__formInput > input {
  width: 85%;
  height: 22px;
  padding: 6px 6px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.passwordReset__formInput > input:focus {
  background-color: #e7cccc;
  outline-color: #8b4748;
}

.passwordReset__requestSubmit {
  width: 10rem;
  font-family: "Poppins", sans-serif;
  height: 35px;
  font-size: 14px;
  border: 1px solid rgb(128, 125, 125);
  margin: 2rem auto 0;
  cursor: pointer;
  transition: background 0.1s, color 0.1s;
  letter-spacing: 0.6px;
}

.passwordReset__requestSubmit:hover {
  background-color: #8b4748;
  color: white;
}

.passwordReset__requestSubmit:disabled {
  background-color: #8b4748;
  color: white;
}

/* .return__to__login__page {
} */

.return__to__login__page {
  color: white;
  font-size: 18px;
  margin-left: 46.75%;
}
