/* .signIn__container {
  width: 100%;
  user-select: none;
  align-items: center;
}

.signIn__form {
  background-color: white;
  margin: 0 auto;
  width: 21.5%;
  align-items: center;
  margin-top: 5%;
  padding: 1rem;
  margin-bottom: 0.75rem;
  border-radius: 3px;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1);
}

.formHeader > h4 {
  font-size: 21px;
  font-weight: 500;
  color: rgb(37, 37, 37);
  text-align: center;
}

.signIn__formContent {
  width: 100%;
  margin: 1rem 0 1rem;
  align-items: center;
}

.signIn__formInput {
  width: 100% !important;
  display: flex;
  flex-direction: column;
}

.signIn__formInput:nth-child(2) {
  margin-bottom: 0;
}

.signIn__formInput > label {
  margin-bottom: 0.25rem;
  font-size: 14px;
}

.signIn__formInput > label > strong {
  color: red;
}

.signIn__formInput > input {
  width: 85%;
  height: 22px;
  padding: 10px 6px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.signIn__formInput > input:focus {
  background-color: #e7cccc;
  outline-color: #8b4748;
}

.signIn__formInput > a {
  font-size: 15px;
  margin-top: 10px;
  margin-right: 2.5rem;
  text-align: right;
  color: #266cad;
}

.submit__btn {
  width: 10rem;
  font-family: "Poppins", sans-serif;
  height: 35px;
  font-size: 14px;
  border: 1px solid rgb(128, 125, 125);
  margin: 2rem auto 0;
  cursor: pointer;
  transition: background 0.1s, color 0.1s;
  letter-spacing: 0.6px;
}

.submit__btn:hover {
  background-color: #8b4748;
  color: white;
}

.back__to__home__link {
  color: white;
  font-size: 18px;
  margin-left: 46.75%;
} */
