.header {
  max-width: 100%;
  height: 100%;
  background-color: #8b4748;
  /* background-color: white; */
  padding: 0.65rem;
  border-bottom: 1px solid rgb(160, 99, 99);
  box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15);
  z-index: 11111;
}

.headerNav__left,
.headerNav__right {
  padding: 1rem;
}

.headerNav__left {
  width: 35%;
  justify-content: flex-end;
}

.headerNav__left > a {
  margin-right: 1rem;
}

.header__logo {
  width: 125px;
  padding: 0 1rem;
}
/* Illustration Designed By 爱画画的猫 From <a href="https://lovepik.com/image-450013211/world-blood-donor-day-web-banner.html">LovePik.com</a> */

.headerNav__right {
  width: 35%;
}

.headerNav__right > a {
  margin-left: 1rem;
}

.headerNav__left > a > button,
.headerNav__right > a > button {
  text-transform: inherit;
  border-radius: 2px;
  /* color: #be1c1e; */
  color: white;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #ccc;
  transition: color 0.2s, background 0.2s;
}

.headerNav__left > a > button:hover,
.headerNav__right > a > button:hover {
  background-color: #820104;
  color: white;
}

.contributor__singin,
.consumer__singin {
  font-size: 15px;
  /* color: #e40c0f; */
  color: white;
  width: 10%;
}
