.hero {
  max-width: 100%;
  overflow-x: hidden;
}

.slider {
  max-width: 100%;
  position: relative;
}

img {
  object-fit: contain;
}

.slider > .slide {
  height: calc(100vh - 77px);
}

.slider__controller {
  position: absolute !important;
  z-index: 11000;
  top: 40%;
}

.slider__arrows {
  width: 50px !important;
}

.slider__controllerForw {
  right: 0;
}
